.sidebar{
    width: 200px;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    margin-left: 30px;
    background-color: #fff;
    border: 2px solid #e2e2e2;
    border-radius: 20px;
}
.sidebar div{
    width: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: rgb(23, 104, 202);
    font-weight: 500;
}
.sidebar p{
    margin-left: 10px;
}
.sidebar li{
    list-style: none;
    padding: 5px;
    cursor: pointer;
}
.sidebar li:hover{
    color: rgb(23, 104, 202);
}
.selected{
   color: rgb(23, 108, 213);
   background-color: rgba(23, 104, 202, 0.329);
   border-radius: 10px;
}